<!DOCTYPE html>
<html>
  <head>
    <title>PaperclipDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar.html.erb' %>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="main-content">
            <%= yield %>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </body>
</html>
